/* ----------Variables */

:root{
    --main-color: #22428f;
    --white: #ffffff;
    --dark: #000000;
}

/* ----------Base styles */

body {
    background-color: var(--white, #ffffff);
    color: #434455;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6, p, a, ul {
    margin: 0;
    padding: 0;
    color: var(--dark, #000000);
}

img {
    display: block;
}

/* ----------Components style */

.container {
    width: 280px;
    margin: 0 auto;
    padding: 0 15px;
}

.link{
    text-decoration: none;
}

.link:hover,
.link:focus{
    color: var(--main-color, #22428F);
}

.list{
    list-style: none;
}

.tenor-sans-regular {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* ----------Stadium */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 15px;
}

.header-flex a {
    font-size: 12px;
}

.nav {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 0px;
    font-size: 12px;
    justify-content: center;
    background-color: var(--main-color);
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 14px;
}

.nav-list a {
    color: var(--white);
}

.header-address {
    display: flex;
    justify-content: flex-end;
    /* width: 380px; */
}

.header-address-item {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30px;
}

.main-hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    text-align: center;
    background: var(--dark, #000000);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 188px 0;
    margin: 0 auto;
}

.stadium-background {
    background-image: linear-gradient(rgba(46, 47, 66, 0.6), rgba(46, 47, 66, 0.3)), url(../images/stadion.jpg);
}

.main-headline {
    color: var(--white);
    font-size: 32px;
}

.main-subtitle {
    color: var(--white);
    font-size: 20px;
    line-height: 32px;
}

.main-botton {
    display: block;
    padding: 16px 32px;
    border: var(--white, #ffffff);
    border-radius: 4px;
    background: var(--main-color, #22428F);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white, #ffffff);
    font-size: 16px;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
    margin-top: 48px;
}

.photo-strip {
    margin-top: 160px;
    display: flex;
}

.photo-strip img {
    width: 25%;
}

.main-info-part {
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.info-part-odd {
    margin-left: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    line-height: 32px;
    gap: 30px;
}

.info-part-list {
    padding: 15px;
    /* width: 500px; */
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-table {
    margin-top: 160px;
}

.stadium-schedule {
    text-align: center;
    margin-bottom: 25px;
}

.table-border {
    border: 1px solid var(--dark, #000000);
    border-radius: 20px;
}

table {
    border-collapse: collapse;
}

td, th {
    /* width: 200px; */
    height: 25px;
    text-align: center;
}

tr:nth-last-child(n+2) {
    border-bottom: 1px solid var(--dark, #000000);
}

th:nth-child(n+2),
td:nth-child(n+2) {
    border-left: 1px solid var(--dark, #000000);
}

.days-of-the-week {
    border-bottom: 1px solid var(--dark, #000000);
}

.footer {
    background-color: var(--main-color, #22428F);
    margin-top: 60px;
}

.footer p {
    font-size: 14px;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-white-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--white);
    margin: 15px 0px;
    padding: 15px 0px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.set-number {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #22438f62;
    color: var(--white, #ffffff);
    border-radius: 20px;
    margin: 5px 0px;
    padding: 12px 50px;
}

.footer-botton {
    display: block;
    padding: 16px 32px;
    border: var(--white, #ffffff);
    border-radius: 4px;
    background: var(--main-color, #22438f62);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white, #ffffff);
    font-size: 16px;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
}

/* ----------Pool */

.pool-background {
    background-image: linear-gradient(rgba(46, 47, 66, 0.6), rgba(46, 47, 66, 0.3)), url(../images/pool1.JPG);
}

.head-info-pool-doc {
    /* width: 200px; */
    padding: 13px;
    margin: 20px auto;
    border-bottom: 1px solid;
    text-align: center;
    font-size: 24px;
}

/* ----------Training Halls */

.training-halls-main-text {
    margin: 160px auto;
    /* width: 1410px; */
    text-align: center;
    line-height: 1.5;
}

.section-line {
    border-top: 2px solid var(--main-color, #22428f);
    border-bottom: 2px solid var(--main-color, #22428f);
    /* width: 1410px;  */
    margin: 100px auto
}

.training-halls-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* width: 1200px; */
    margin: 160px auto;
}

.training-halls-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 17px;
    border: 2px solid;
    border-radius: 20px;
}

.training-halls-item img {
    object-fit: contain
}

.text-pop-up-top {
    transform: translateY(0);
    transition: transform 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940), box-shadow 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.text-pop-up-top:hover {
    transform: translateY(-10px);
    box-shadow: 10px 20px 4px rgba(34, 66, 143, 0.5);
    cursor: pointer;
}


/* ---------- Contacts */

.main-address-list {
    display: flex;
    justify-content: space-evenly
}

.main-address-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 275px */
}

.our-contacts-icon {
    border: 1px solid;
    border-radius: 100%;
    /* width: 150px; */
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.useful-links-headertext {
    /* width: 250px; */
    padding: 13px;
    margin: 160px auto 30px;
    border-bottom: 1px solid;
    text-align: center;
    font-size: 24px;
}

.useful-links-markup {
    margin: 0px auto;
    /* width: 1400px; */
    display: flex;
    gap: 30px;
}

.useful-links-block {
    display: flex;
    align-items: center;
    gap: 30px;
}

/**
* ----------------------------------------
* @ media
* ----------------------------------------
*/

@media screen and (min-width: 425px) {
    .container {
        width: 290px;
    }

    .header-flex {
        gap: 50px;
    }

    .nav-list a {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 738px;
    }

    .header-flex {
        gap: 100px;
    }

    .footer-container {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .footer-white-block {
        width: 40%;
        height: 230px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 994px;
    }

    .header {
        flex-direction: row;
    }

    .header-flex {
        flex-direction: row;
        justify-content: space-around;
    }

    .nav {
        width: 690px;
        background-color: transparent;
    }

    .nav-list {
        flex-wrap: nowrap
    }

    .nav-list a {
        font-size: 16px;
        color: var(--black, #000000);
    }

    .header-address {
        width: 270px;
    }

    .footer {
        margin-top: 120px;
    }
}

@media screen and (min-width: 1440px) {

    .header-flex {
        flex-direction: row;
        justify-content: space-around;
        gap: 150px;
    }

    .header-address {
        width: 310px;
    }

    .footer-white-block {
        margin-top: 45px;
    }
}